.btn {
  cursor: pointer;
  display: inline-block;
  width: 26vw;
  padding: 0;
  width: 11.64em;
  // height: 2.2em;
  height: 2.9em;
  min-width: max-content;
  outline: none;
  border: 2px solid currentColor;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  @media screen and (max-width: $bp-small) {
    width: 70vw;
  }

  &--green {
    &,
    &:link,
    &:visited {
      background-color: var(--color-turquoise);
      border-color: var(--color-turquoise);
      color: white;
    }
    &:active {
      background-color: var(--color-turquoise-light);
      border-color: var(--color-turquoise-light);
    }
    &:hover,
    &:focus {
      background-color: var(--color-turquoise-dark);
      border-color: var(--color-turquoise-dark);
    }
  }
  &--white {
    &,
    &:link,
    &:visited {
      color: var(--color-turquoise);
      background-color: white;
    }
    &:active {
      color: var(--color-grey-dark);
    }
    &:hover,
    &:focus {
      background-color: var(--color-turquoise);
      color: white;
      border-color: var(--color-turquoise);
    }
  }
  & .waiting-img {
    height: 1em;
    width: 1em;
  }
}

.form .btn {
  width: 100%;
  border-color: var(--color-turquoise);
}

.form--range .btn {
  @media screen and (max-width: $bp-small) {
    width: 90vw;
  }
}

.balance .btn {
  padding: 0;
  width: 7.62em;
  height: 2.2em;
  min-height: min-content;
  @media screen and (max-width: $bp-small) {
    width: 90vw;
  }
}

.section-deals .btn--more {
  height: min-content;
  width: min-content;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 1em;
  background-color: white;
  background-color: transparent;
  z-index: 5;
  @media screen and (max-width: $bp-medium-small) {
    background-color: transparent;
  }
}
